# Basic Python

## 1. Split this string

In [4]:
s = "Hi there Sam!"

In [5]:
res=s.split()
print(res)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [6]:
planet = "Earth"
diameter = 12742

In [11]:
s="The diameter of {} is {} kilometers"
s.format(planet,diameter)

'The diameter of Earth is 12742 kilometers'

## 3. In this nest dictionary grab the word "hello"

In [13]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [14]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [15]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [16]:
a=np.zeros(10)
print(a)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [17]:
b=np.ones(10)*5
print(b)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [21]:
even=np.arange(20,36,2)
print(even)

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [20]:
t=np.arange(0,9).reshape(3,3)
print(t)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [27]:
a=np.array([1,2,3])
b=np.array([4,5,6])
print(np.concatenate((a,b),axis=None))

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [28]:
import pandas as pd

In [29]:
data={'Name':['Swetha','Joshua','Hoshi'], 'Marks':[80,90,89]}
df=pd.DataFrame(data,index=[1,2,3])
print(df)

     Name  Marks
1  Swetha     80
2  Joshua     90
3   Hoshi     89

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [31]:
date=pd.date_range(start='01-01-2023',end='10-02-2023')
print(date)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', length=275, freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [32]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [35]:
df=pd.DataFrame(lists,columns=['S.No','Name','Roll No'])
print(df)

   S.No Name  Roll No
0     1  aaa       22
1     2  bbb       25
2     3  ccc       24